extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/profile/profile.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/")
          i.fa.fa-bars
          |  Inicio
      li
        a(href="/me/patient_information")
          i.fa.fa-info-circle
          |  Mi informacion
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown")
          i.fa.fa-code-fork
          |   Operaciones
          b.caret
        ul.dropdown-menu
          li
            a(href="/search/doctors/patients")
              i.fa.fa-star
              |   Tomar citas medicas
          li
            a(href="/search/doctors/idoneidad")
              i.fa.fa-star
              |  Consulta de idoneidad medica
      li
        a#logout_patient(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .info-principal
      .row
        .col-lg-6
          .img-profile#image-upload
        .col-lg-6
          fieldset
            input#csrf_input(type="hidden", value="#{data.csrf}")
            legend.nombe-legend
              span#info-nombre 
              br
              .sub-title
                span#info-mas  
                span &nbsp;|&nbsp;
                span#info-sexo
          .info-profile
              .panel.panel-primary
                .panel-heading Titulos obtenidos
                  br
                .panel-body
                  table.tables-info1
                    tbody#info-titulos
              .panel.panel-primary
                .panel-heading Contacto
                  br
                .panel-body
                  table.tables-info
                    tr
                      td.title-info 
                        i(class="fa fa-hospital-o")
                        |  Clinica:
                      td#info-clinica 
                    tr
                      td.title-info
                        i(class="fa fa-mobile")
                        |   Celular:
                      td#info-celular 
                      td.title-info
                        i(class="fa fa-phone")
                        |   Telefono:
                      td#info-fijo 
                    tr
                    tr
                      td.title-info
                        i(class="fa fa-arrow-circle-right")
                        |   Direccion:
                      td#info-direccion 
                      td.title-info 
                        i(class="fa fa-certificate")
                        |   Ciudad:
                      td#info-ciudad 
      .row
        .col-lg-12
            a#button_show_calendar.btn.btn-danger.col-lg-offset-3.col-lg-6(href="/patients/calendar" style="margin-top: 2px;") Tomar cita con este doctor

block js
  script.
    $(document).ready(function(){
        //alert(localStorage.cedula);
        function cargarDatos(){
          var criterio='identification='+localStorage.cedula;
          $.ajax({
              method:'get',
              url:'/api/v1/doctors?'+criterio,
              success:function(data){
                console.log(data);
                var personal=data[0].pei;
                var titulos=data[0].ti;
                var laboral=data[0].pri;
                var imagen=data[0].image;
                if(imagen != undefined || imagen != null){
                  var divImagen='<img src="/profile_images/'+imagen+'">';
                  $('#image-upload').append(divImagen);
                }else{
                  var divImagen='<img src="/images/sin-img.png">';
                  $('#image-upload').append(divImagen);
                }
                document.getElementById('info-nombre').innerHTML+=personal.names+' '+personal.lastnames.first+' '+personal.lastnames.second;
                document.getElementById('info-mas').innerHTML+=laboral.professionalType.type;
                document.getElementById('info-sexo').innerHTML+=personal.sex;
                var tableTitulos='';
                for(var i=0; i<titulos.length; i++){
                  tableTitulos+='<tr><td style="witdh:50%">'+titulos[i].title+'</td><td style="witdh:50%">'+titulos[i].idUniversity.name+'</td></tr>';
                }
                document.getElementById('info-titulos').innerHTML+=tableTitulos;
                if(laboral.isWorking=='si'){
                  document.getElementById('info-clinica').innerHTML+=laboral.jobInformation.clinic.name;
                  document.getElementById('info-celular').innerHTML+=laboral.jobInformation.clinic.phone.mobile;
                  document.getElementById('info-fijo').innerHTML+=laboral.jobInformation.clinic.phone.landline;
                  document.getElementById('info-direccion').innerHTML+=laboral.jobInformation.clinic.location.address;
                  $.ajax({
                    type:'get',
                    url:'/municipios/'+laboral.jobInformation.clinic.location.city,
                    success:function(datos){
                      document.getElementById('info-ciudad').innerHTML+=datos.municipios.name;
                    }
                  });
                }else{
                  document.getElementById('info-clinica').innerHTML+='';
                  document.getElementById('info-celular').innerHTML+=personal.contactData.phone.mobile;
                  document.getElementById('info-fijo').innerHTML+='';
                  document.getElementById('info-direccion').innerHTML+='';
                  document.getElementById('info-ciudad').innerHTML+='';
                }
            }
          });
        }

        function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }
      
      $("#logout_patient").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/patients",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

        cargarDatos();
      });