extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/register_ends/registe.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li
            a(href="/me/titles_information")
              i.fa.fa-star
              |  Titulos
          li.active
            a()
              i.fa.fa-star
              |  finalizar registro
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h2#username_h2 Informacion general del doctor:
          input#csrf_input(type="hidden", value="#{data.csrf}")
      .col-lg-12
        #alert_registrado.alert-info
           span El usuario esta registrado asi que no es necesario enviar los datos a secretaria

        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapseOne") Informacion personal
            #collapseOne.panel-collapse.collapse.in
              .panel-body
                table.table.table-information
                  tr
                    td
                      p#inf_nombres 
                          span Nombres: 
                    td
                      p#inf_Papellido 
                        span Primer apellido: 
                    td
                      p#inf_Sapellido 
                          span Segudno apellido: 
                    td
                      p#inf_tidentificacion 
                        span Tipo de identificacion: 
                  tr
                    td
                      p#inf_identificacion 
                          span identificacion: 
                    td
                      p#inf_sexo 
                        span sexo: 
                    td
                      p#inf_fecha_nacimiento 
                          span fecha de nacimiento: 
                    td
                      p#inf_ciudad_residencia 
                        span ciudad de residencia: 
                  tr
                    td
                      p#inf_dir_residencia 
                          span Direccion: 
                    td
                      p#inf_celular 
                        span Celular: 
                    td
                      p#inf_fijo 
                          span fijo: 
                    td
                      p#inf_nacionalidad 
                        span Nacionalidad: 
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapsetwo") Informacion profesional
             #collapsetwo.panel-collapse.collapse.in
              .panel-body
                table.table.table-information
                  tr
                    td
                      p#inf_tarjeta 
                          span Tarjeta profesional: 
                    td
                      p#inf_tipoProfesion 
                        span Tipo de profesion: 
                    td
                      p#inf_trabaja 
                          span Esta trabajando?: 
                  tr#data_job1
                  tr#data_job2
          .panel.panel-default
            .panel-heading
              h4.panel-title
                a(data-toggle="collapse" data-parent="#accordion" href="#collapsethree") Informacion titulos
            #collapsethree.panel-collapse.collapse.in
              .panel-body
                table.table.table-information
                  thead
                    tr
                      td.span_title Titulo
                      td.span_title Descripcion
                      td.span_title Fecha de graduacion
                      td.span_title Universidad
                      td.span_title Ciudad
                      td.span_title Departamento
                  tbody#table_titles_body
    br
    .row
      .col-lg-12
        button.btn.btn-primary.col-lg-6.col-lg-offset-3#button_send_secretary Enviar datos a secretaria
block js
  script.
    $(document).on('ready', function(){
        $('.collapse').collapse();
        var doctorAI = {};
        function getDoctorAccountInformationSuccess(data){
              doctorAI = data.doctorAccountInformation;
              $("#username_h2").html("Informacion general del doctor: "+(doctorAI.username).toUpperCase());
          }

        $(function getDoctorAccountInformation (){
            $.ajax({
              url:"/api/v1/doctors/me/all_information",
              headers: {
                "accessToken": localStorage.accessToken
              },
              success: function (data){
                console.log(data);
                showInfo(data);
                getDoctorAccountInformationSuccess(data.information[1]);
              }
            });
          });

        function showInfo(data){
          var personal = data.information[2].doctorPersonalInformation;
          var profesional = data.information[0].doctorProfessionalInformation;
          var titles =data.information[3].doctorTitlesInformation;
          var statusRegister=true;
          if(personal._id!=undefined){
            document.getElementById('inf_nombres').innerHTML +=personal.names;
            document.getElementById('inf_Papellido').innerHTML +=personal.lastnames.first;
            document.getElementById('inf_Sapellido').innerHTML +=personal.lastnames.second;
            document.getElementById('inf_tidentificacion').innerHTML +=personal.identification.type;
            document.getElementById('inf_identificacion').innerHTML +=personal.identification.number;
            document.getElementById('inf_sexo').innerHTML +=personal.sex;
            var fecha = new Date(personal.birthdate);
            document.getElementById('inf_fecha_nacimiento').innerHTML +=fecha.getDate()+'-'+fecha.getMonth()+'-'+fecha.getYear();
            document.getElementById('inf_ciudad_residencia').innerHTML +=personal.contactData.home.city;
            document.getElementById('inf_dir_residencia').innerHTML +=personal.contactData.home.address;
            document.getElementById('inf_celular').innerHTML +=personal.contactData.phone.mobile;
            document.getElementById('inf_fijo').innerHTML +=personal.contactData.phone.mobile;
            document.getElementById('inf_nacionalidad').innerHTML +=personal.nationality;
          }else{
            statusRegister=false;
          }
          if(profesional._id!=undefined){
            document.getElementById('inf_tarjeta').innerHTML +=profesional.professionalCard.number;
            $.ajax({
                method:'get',
                dataType: 'json',
                url:'http://secretariadesalud-cordoba.herokuapp.com/tipoProfesional/'+profesional.professionalType,
                success:function(data){
                  document.getElementById('inf_tipoProfesion').innerHTML +=data.profesionales.tipo;
                }
              });
            document.getElementById('inf_trabaja').innerHTML +=profesional.isWorking;
            if(profesional.isWorking=='si'){
              var infoJob1='<tr>';
                infoJob1+='<td><p><span>Nit: </span>'+profesional.jobInformation.clinic.nit+'</p></td>';
                infoJob1+='<td><p><span>Clinica: </span>'+profesional.jobInformation.clinic.name+'</p></td>';
                infoJob1+='<td><p><span>Lugar de trabajo: </span>'+profesional.jobInformation.clinic.location.city+'</p></td>';
                infoJob1+='</tr>';

              var infoJob2='<tr>';
                infoJob2+='<td><p><span>Direccion:</span> '+profesional.jobInformation.clinic.location.address+'</p></td>';
                infoJob2+='<td><p><span>Celular de la clinica: </span>'+profesional.jobInformation.clinic.phone.mobile+'</p></td>';
                infoJob2+='<td><p><span>Fijo de la clinica: </span>'+profesional.jobInformation.clinic.phone.landline+'</p></td>';
                infoJob2+='</tr>';
              document.getElementById('data_job1').innerHTML+=infoJob1;
              document.getElementById('data_job2').innerHTML+=infoJob2;
            }
          }else{
            statusRegister=false;
          }
          if(titles.length){
              //- console.log(data.doctorPersonalInformation);
            for(var i=0; i<titles.length; i++){
              var fecha=new Date(titles[i].graduationDate);
              var day = ("0" + fecha.getDate()).slice(-2);
              var month = ("0" + (fecha.getMonth()+1)).slice(-2);
              var graduationDate = (day)+"-"+(month)+"-"+fecha.getFullYear();
              var cadena = "<tr><td>"+titles[i].title+"</td><td>"+titles[i].description+"</td><td>"+graduationDate+"</td><td>"+titles[i].idUniversity.name+"</td><td>"+titles[i].idUniversity.city+"</td><td>"+titles[i].idUniversity.department+"</td></tr>"
              $("#table_titles_body").append(cadena);
              //- console.log(data.doctorTitlesInformation[i]);
            }
          }else{
            statusRegister=false;
          }
          var cedula = (personal.identification.number!=null) ? personal.identification.number : '';
          $.ajax({
            type: "GET",
            url:"/secretary/verify/"+cedula,
            headers: {
              "csrfToken": $("#csrf_input").val()
            },
            success:function(data){
              var medico=data.data;
              console.log(medico.registrado);
              if(medico.registrado == "si"){
                statusRegister=false;
                $('#alert_registrado').css('display', 'block');
              }
              if(statusRegister){
                $('#button_send_secretary').css('display', 'block');
              }
            }
          });
        }

        $('#button_send_secretary').on('click', function(){
            $.ajax({
              type: "POST",
              url:"/api/v1/doctors/me/all_information/to_secretary",
              headers: {
                "accessToken": localStorage.accessToken
              },
              success:function(data){
                console.log(data);
                if(data.error==null){
                  alert('se agrego con exito');
                }else if(data.error){
                  alert('error al enviar');
                }else{
                  alert('un error que no se conoce');
                }
              }
            });
          });

        function logoutDoctorSuccess(data, textStatus, jqXHR){
          console.log(data);
          if(data){
            if(data.error){
              console.log(error);
            }else{
              localStorage.removeItem("accessToken");
              localStorage.removeItem("refreshToken");
              localStorage.removeItem("tokenType");
              localStorage.removeItem("expirationDate");
              window.location.replace("/");
            }
          }
        }

        $("#logout_doctor").on('click', function(e){
          e.preventDefault();
          $.ajax({
            type: "DELETE",
            url:"/login/doctors",
            headers: {
              "csrfToken": $("#csrf_input").val()
            },
            success: logoutDoctorSuccess
          });
        }); // End of logout doctor on click event
      });