extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/search/search.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/")
          i.fa.fa-bars
          |  Inicio
      li
        a(href="/me/patient_information")
          i.fa.fa-info-circle
          |  Mi informacion
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown")
          i.fa.fa-code-fork
          |   Operaciones
          b.caret
        ul.dropdown-menu
          li.active
            a()
              i.fa.fa-star
              |   Tomar citas medicas
          li
            a(href="/search/doctors/idoneidad")
              i.fa.fa-star
              |  Consulta de idoneidad medica
      li
        a#logout_patient(href="#")
          i.fa.fa-sign-out
          |  Cerrar session
block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Busqueda de medicos en Cordoba
          input#csrf_input(type="hidden", value="#{data.csrf}")
      .col-lg-4.board-search
        h4
          center Datos del medico
        .board-single
          form
            .form-group
              label.control-label(for="name_like") Nombre: 
              input.form-control#name_like(type="text", placeholder="Nombre del doctor")
            .form-group
              label.control-label(for="lastname_like") Apellido: 
              input.form-control#lastname_like(type="text", placeholder="Primer apellido del doctor")
            .form-group
            button.btn.btn-info.form-control#button_search_single BUSQUEDA
        .board-avanced
          .form-group
            label.control-label(for="lastnames") Apellido: 
            input.form-control#lastnames(type="text", placeholder="Apellido del doctor")
          .form-group
            label.control-label(for="identificacion") Identificacion: 
            input.form-control#identificacion(type="text", placeholder="Identificacion del doctor")
          .form-group
            label.control-label(for="tipoProfesional") Tipo de profesional: 
            #div_professional_type
          .form-group
            label.control-label(for="city_clinica") Ciudad de trabajo: 
            #div_municipios_clinica
          .form-group
            label.control-label(for="clinica") Nombre de la clinica: 
            input.form-control#clinica(type="text", placeholder="Clinica donde trabaja el doctor")
          .form-group
            button.btn.btn-info.form-control#button_search BUSQUEDA
        .board-radio
          .radio
            label
              input.radio-search#radio_single(type="radio", name="search", value="simple", checked)
              | busqueda por nombre
            br
            label
              input.radio-search#radio_avanced(type="radio", name="search", value="avanzada")
              |busqueda avanzada


      .col-lg-8.board-view-search
        table.table.table-hover.table-search
          thead
            tr
              th 
              th Nombre
              th Profesion
              th Clinica
              th Telefono
          tbody#result_search
        table.table#button_ver
          tr
            td
            td
              input.btn.btn-info.col-lg-12#info_medico(type="button", value=" Ver medico")
            td
              input.btn.btn-default.col-lg-12#redirect_index(type="button", onclick="return(window.location.href='/')", value="Atras") 
            td

block js
  script.
    $(document).on('ready', function(){
        $('input[name=search]').on('click', function(){
            if($(this).val()=='simple'){
              $('.board-avanced').css('display', 'none');
              $('.board-single').css('display', 'block');
              document.getElementById('result_search').innerHTML='';
              $('#button_ver').css('display', 'none');
              limpiar();
            }else{
              $('.board-single').css('display', 'none');
              $('.board-avanced').css('display', 'block');
              document.getElementById('result_search').innerHTML='';
              $('#button_ver').css('display', 'none');
              limpiar();
            }
          });

        $('#info_medico').on('click', function(){
            var cedula=$(' .cedula_input:checked').val();
            var id=$(' .cedula_input:checked').attr('data-id');
            var nombre=$(' .cedula_input:checked').attr('data-name');
            localStorage.cedula=cedula;
            localStorage.doctorID=id;
            localStorage.doctorNombre=nombre;
            window.location.replace('/profile/doctorsCitas');
          });

        $('#button_search_single').on('click', function(e){
            e.preventDefault();
            var data=$('#name_like').val();
            var lastnames=$('#lastname_like').val();
            $.ajax({
                method:'get',
                url:'/api/v1/doctors?name_like='+data+'&lastname_like='+lastnames,
                success:function(data){
                  console.log(data);
                  if(data.length!=0){
                    var table='';
                      for(var i=0; i<data.length; i++){
                      table+='<tr><td><input type="radio" class="cedula_input" data-name="'+data[i].pei.names+' '+data[i].pei.lastnames.first+' '+data[i].pei.lastnames.second+'"  data-id="'+data[i]._id+'" name="radio_cedula" value="'+data[i].pei.identification.number+'"></td><td>'+data[i].pei.names+' '+data[i].pei.lastnames.first+' '+data[i].pei.lastnames.second+'</td><td>'+data[i].pri.professionalType.type+'</td><td>'+data[i].pri.jobInformation.clinic.name+'</td><td>'+data[i].pri.jobInformation.clinic.phone.landline+'</td></tr>';
                      }
                      document.getElementById('result_search').innerHTML=table;
                      $('#button_ver').css('display', 'inline-table');
                  }else{
                      var content="<tr><td colspan='4'><center class='center'>No exiten registros</center></td></tr>";
                      document.getElementById('result_search').innerHTML=content;
                      $('#button_ver').css('display', 'none');
                    }
                },
                processData:function(){
                  document.getElementById('result_search').innerHTML='esperando...';
                }
              });
          });

        
        function limpiar(){
           $('#name_like').val('');
           $('#lastname_like').val('');
           $('#lastnames').val('');
           $('#identificacion').val('');
           $('#professional_type_input').val('');
           $('#city_clinica').val('');
           $('#clinica').val('');
        }

        $.ajax({
            method:'get',
            dataType: 'json',
            url:'http://secretariadesalud-cordoba.herokuapp.com/tipoProfesional',
            success:function(data){
              console.log(data);
              var profesionales=data.profesionales;
              var select = '<select class="form-control" name="professional_type_input" id="professional_type_input">';
                    select+='<option value="">Tipo de profesion del doctor</option>';
              for(var i=0; i<profesionales.length;i++){
                select+='<option value="'+profesionales[i]._id+'">'+profesionales[i].tipo+'</option>';
              }
              select += '</select>';
              document.getElementById('div_professional_type').innerHTML=select;
            }
          });

        $(function municipios(){
            $.ajax({
              method:'get',
              url:'/municipios',
              success:function(data){
                var select = '<select class="form-control" name="city_clinica" id="city_clinica">';
                      select+='<option value="">Ciudad donde trabaja el doctor</option>';
                for(var i=0; i<data.municipios.length;i++){
                  select+='<option value="'+data.municipios[i]._id+'">'+data.municipios[i].name+'</option>';
                }
                select += '</select>';
                document.getElementById('div_municipios_clinica').innerHTML=select;
              }
            });
        });

        $('#button_search').on('click', function(){
            var lastnames=$('#lastnames').val();
            var identification=$('#identificacion').val();
            var tipoProfesional=$('#professional_type_input').val();
            var city=$('#city_clinica').val();
            var clinica=$('#clinica').val();
            var criterio='lastname_like='+lastnames+'&identification='+identification+'&profession_code='+tipoProfesional+'&job_city='+city+'&clinic_name='+clinica;
            $.ajax({
                method:'get',
                url:'/api/v1/doctors?'+criterio,
                success:function(data){
                  console.log(data);
                  if(data.length!=0){
                    var table='';
                      for(var i=0; i<data.length; i++){
                       table+='<tr><td><input type="radio" class="cedula_input" data-name="'+data[i].pei.names+' '+data[i].pei.lastnames.first+' '+data[i].pei.lastnames.second+'"  data-id="'+data[i]._id+'" name="radio_cedula" value="'+data[i].pei.identification.number+'"></td><td>'+data[i].pei.names+' '+data[i].pei.lastnames.first+' '+data[i].pei.lastnames.second+'</td><td>'+data[i].pri.professionalType.type+'</td><td>'+data[i].pri.jobInformation.clinic.name+'</td><td>'+data[i].pri.jobInformation.clinic.phone.landline+'</td></tr>';
                      }
                      document.getElementById('result_search').innerHTML=table;
                      $('#button_ver').css('display', 'inline-table');
                  }else{
                      var content="<tr><td colspan='4'><center class='center'>No exiten registros</center></td></tr>";
                      document.getElementById('result_search').innerHTML=content;
                      $('#button_ver').css('display', 'none');
                  }
                },
                processData:function(){
                  document.getElementById('result_search').innerHTML='esperando...';
                }
              });
          });

          function logoutDoctorSuccess(data, textStatus, jqXHR){
              console.log(data);
              if(data){
                if(data.error){
                  console.log(error);
                }else{
                  localStorage.removeItem("accessToken");
                  localStorage.removeItem("refreshToken");
                  localStorage.removeItem("tokenType");
                  localStorage.removeItem("expirationDate");
                  window.location.replace("/");
                }
              }
            }

          $("#logout_patient").on('click', function(e){
              e.preventDefault();
              $.ajax({
                type: "DELETE",
                url:"/login/patients",
                headers: {
                  "csrfToken": $("#csrf_input").val()
                },
                success: logoutDoctorSuccess
              });
            }); // End of logout doctor on click event
      });