extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/titles_doctor/titles.css')
  link(rel="stylesheet", href='/stylesheets/less/information/information.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li.active
            a()
              i.fa.fa-star
              |  Titulos
          li
            a(href="/me/register_end")
              i.fa.fa-star
              |  finalizar registro
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Mis titulos
      .col-lg-9
        table.table
            #alert_registrado.alert-info
              span Usuario registrado En secretaria de salud y se cargaron los datos personales en el formulario
            #alert_no_registrado.alert-info
                span Usuario no esta registrado tiene que guardar sus datos y enviarlos a la secretaria de salud
            form#save_title_information
                  .form-group
                    tr
                      td
                        label.control-label.col-sm-12(for="titulo") Nombres titulo:
                      td
                        input.form-control(type="text", name="titulo", id="titulo", Placeholder="Ingrese nombre del titulo", required)
                      td
                        label.control-label.col-sm-12(for="fechaObtencion") fecha Obtencion:
                      td
                        input.form-control(type="date", name="fechaObtencion", id="fechaObtencion", Placeholder="Ingrese fecha de optencion", required)
                  .form-group
                    tr
                      td
                        label.control-label.col-sm-12(for="universidad") Universidad:
                      td(colspan="3")
                        #content_universidad
                    tr
                      td
                        label.control-label.col-sm-12(for="descripcion") Descripcion:
                      td(colspan="3")
                        textarea.form-control(name="descripcion", id="descripcion")
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      tr
                        td
                        td
                          button.btn.btn-primary.input-form.col-lg-12(type="submit", id="add_titulo") Agregar
                        td
                          button.btn.btn-default.input-form.col-lg-12(type="reset", id="Clear") Borrar
                        td

      .col-lg-3
        img(src="/images/Diploma.png", alt="", style="width:100%;")
    .row
      .col-lg-12
        div#table_titles_information
          input#csrf_input(type="hidden", value="#{data.csrf}")
          table.table.table-bordered.table-hover.table-condensed
            caption  Titulos Registrados
            thead
              tr
                th Titulo
                th Descripcion
                th Fecha de graduacion
                th Universidad
                th Ciudad
                th Departamento
            tbody#table_titles_body
       #myModal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myLargeModalLabel", aria-hidden="true")
            .modal-dialog.modal-lg( style="width: 60%;")
              .modal-content
                .modal-header
                  button(type="button", class="close", data-dismiss="modal", aria-hidden="true")&times;
                  h4(class="modal-title", id="myModalLabel") Verificar en secretaria de salud
                .modal-body
                  form(name="inf-otros", id="inf-otros", method="post", action="/medicos/inf-otros")
                    table.table
                      .form-group
                        tr
                          td
                          td
                            label.control-label.col-sm-12(for="identification") Cedula:
                          td
                            input.form-control#identification(type="text", placeholder="cedula", required)
                          td
                    .modal-footer
                        button(type="button", class="btn btn-default", data-dismiss="modal") Cancelar
                        button(type="submit", id="verify_identification_button", class="btn btn-primary") Consultar

block js
  script.
    $(document).on("ready", function(){
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }

      $(function (){
        $.ajax({
            method:'get',
            url:'/universidades',
            success:function(data){
              var select = '<select class="form-control" name="universidad" id="universidad">'
                for(var i=0; i<data.universidades.length;i++){
                    select+='<option value="'+data.universidades[i]._id+'">'+data.universidades[i].name+'</option>'
                }
                    select += '</select>'
                document.getElementById('content_universidad').innerHTML=select;
            }
          });
      });
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      $('#add_titulo').on('click', function(e){
          e.preventDefault();
          var nombre_titulo=$('#titulo').val();
          var fecha_title = $('#fechaObtencion').val();
          var universidad_title = $('#universidad').val();
          var descripcion_title = $('#descripcion').val();
          if(nombre_titulo!="" && fecha_title!="" && universidad_title!=""){
            console.log("se pasaron todos los datos");
            var titleInformation={
                "title" : nombre_titulo,
                "description" :descripcion_title ,
                "university" : universidad_title,
                "graduationDate" : fecha_title
            }
            $.ajax({
                method:'Post',
                url:"/api/v1/doctors/me/titles_information?errors=verbose",
                headers: {
                  "accessToken": localStorage.accessToken
                },
                data:{
                  titleInformation:titleInformation
                },
                success:function(data){
                  console.log(data);
                  window.location.replace('/me/titles_information');
                }
              });
          }else{
            console.log("No se pasaron todos los datos")
          }
        });

      function getDoctorTitlesInformation(){
        $.ajax({
          url:"/api/v1/doctors/me/titles_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: function(data){
            console.log(data);
            if(data.doctorTitlesInformation.length){
              //- console.log(data.doctorPersonalInformation);
              for(var i=0; i<data.doctorTitlesInformation.length; i++){
                var fecha=new Date(data.doctorTitlesInformation[i].graduationDate);
                var day = ("0" + fecha.getDate()).slice(-2);
                var month = ("0" + (fecha.getMonth() + 1)).slice(-2);
                var graduationDate = (day)+"-"+(month)+"-"+fecha.getFullYear();
                var cadena = "<tr><td>"+data.doctorTitlesInformation[i].title+"</td><td>"+data.doctorTitlesInformation[i].description+"</td><td>"+graduationDate+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.name+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.city+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.department+"</td></tr>"
                $("#table_titles_body").append(cadena);
                //- console.log(data.doctorTitlesInformation[i]);
              }
            }else{
              console.log("No se ha guardado aun informacion personal de este doctor");
              $('#myModal').modal();
            }
            //- if (data.userdataDoctor){
            //-   console.log(data.userdataDoctor):
            //- }
          }
        });
      }

      $("#verify_identification_button").on("click", function(e){
        e.preventDefault();
        console.log("click click click");
        console.log($("#identification").val());
        e.preventDefault();
        $.ajax({
          type: "GET",
          url:"/secretary/verify/"+$("#identification").val(),
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: function(data){
              console.log(data);
              var medico=data.data;
              console.log(medico.registrado);
              if(medico.estado=="no registrado"){
                $('.close').trigger('click');
                $('#alert_no_registrado').css('display', 'block');
              }else if(medico.registrado == "si"){
                $('.close').trigger('click');
                $('#alert_registrado').css('display', 'block');
                var titles=medico.infoTitulos.titulos;
                for(var i=0; i<titles.length; i++){
                  var fecha=new Date(titles[i].fechaObtenion);
                  var day = ("0" + fecha.getDate()+1).slice(-2);
                  var month = ("0" + (fecha.getMonth() + 1)).slice(-2);
                  var fechaTitulo = fecha.getFullYear()+"-"+(month)+"-"+(day) ;
                  var titleInformation={
                      "title" : titles[i].titulo,
                      "description" :titles[i].descripcion ,
                      "university" : titles[i]._universidad._id,
                      "graduationDate" : fechaTitulo
                  }
                  $.ajax({
                      method:'Post',
                      url:"/api/v1/doctors/me/titles_information?errors=verbose",
                      headers: {
                        "accessToken": localStorage.accessToken
                      },
                      data:{
                        titleInformation:titleInformation
                      },
                      success:function(data){
                        console.log(data);
                      }
                    });
                }
              window.location.href('/me/titles_information');
            }else{
              alert("hubo un error xp");
            }
          }
        });
      });

      getDoctorTitlesInformation();
    }); // End of document on ready event