extends layout

block css
  link(rel="stylesheet", href='/stylesheets/less/home/general.css')
  link(rel="stylesheet", href='/stylesheets/less/titles_doctor/titles.css')
  link(rel="stylesheet", href='/stylesheets/less/information/information.css')

block nav
  button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
    span.sr-only toogle navigation
    span.icon-bar
    span.icon-bar
    span.icon-bar
  a.navbar-brand(href='/') CONSULTING
  #bs-example-navbar-collapse-1.navbar-collapse.collapse
    ul.nav.navbar-nav
      li
        a(href="/") 
          i.fa.fa-bars
          |  Dashboard
      li.dropdown
        a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
          i.fa.fa-info-circle
          |   Mi informacion
          b.caret
        ul.dropdown-menu
          li
            a(href="/me/personal_information")
              i.fa.fa-star
              |   Personal
          li
            a(href="/me/professional_information")
              i.fa.fa-star
              |  Profesional
          li.active
            a()
              i.fa.fa-star
              |  Titulos
          li
            a(href="/me/register_end")
              i.fa.fa-star
              |  finalizar registro
      li
        a(href="/doctors/imagen/perfil")
          i.fa.fa-picture-o
          |  Imagen de perfil
      li
        a#logout_doctor(href="#")
          i.fa.fa-sign-out
          |  Cerrar session

block content
  .container.general-content
    .row
      .col-lg-12
        .page-header.title-header
          h1 Mis titulos
      .col-lg-9
        table.table
            #alert_registrado.alert-info
              span Usted debe cargar la informacion de sus titulos
            form#save_title_information
                  .form-group
                    tr
                      td
                        label.control-label.col-sm-12(for="titulo") Nombres titulo:
                      td
                        input.form-control(type="text", name="titulo", id="titulo", Placeholder="Ingrese nombre del titulo", required)
                      td
                        label.control-label.col-sm-12(for="fechaObtencion") fecha Obtencion:
                      td
                        input.form-control(type="date", name="fechaObtencion", id="fechaObtencion", Placeholder="Ingrese fecha de optencion", required)
                  .form-group
                    tr
                      td
                        label.control-label.col-sm-12(for="universidad") Universidad:
                      td(colspan="3")
                        #content_universidad
                    tr
                      td
                        label.control-label.col-sm-12(for="descripcion") Descripcion:
                      td(colspan="3")
                        textarea.form-control(name="descripcion", id="descripcion")
                  .form-group
                    .col-sm-offset-2.col-sm-10
                      tr
                        td
                        td
                          button.btn.btn-primary.input-form.col-lg-12(type="submit", id="add_titulo") Agregar
                        td
                          button.btn.btn-default.input-form.col-lg-12(type="reset", id="Clear") Borrar
                        td

      .col-lg-3
        img(src="/images/Diploma.png", alt="", style="width:100%;")
    .row
      .col-lg-12
        div#table_titles_information
          input#csrf_input(type="hidden", value="#{data.csrf}")
          table.table.table-bordered.table-hover.table-condensed
            caption  Titulos Registrados
            thead
              tr
                th Titulo
                th Descripcion
                th Fecha de graduacion
                th Universidad
                th Ciudad
                th Departamento
                th Eliminar
            tbody#table_titles_body

block js
  script.
    $(document).on("ready", function(){
      function logoutDoctorSuccess(data, textStatus, jqXHR){
        console.log(data);
        if(data){
          if(data.error){
            console.log(error);
          }else{
            localStorage.removeItem("accessToken");
            localStorage.removeItem("refreshToken");
            localStorage.removeItem("tokenType");
            localStorage.removeItem("expirationDate");
            window.location.replace("/");
          }
        }
      }

      $(function (){
        $.ajax({
            method:'get',
            url:'/universidades',
            success:function(data){
              var select = '<select class="form-control" name="universidad" id="universidad">'
                for(var i=0; i<data.universidades.length;i++){
                    select+='<option value="'+data.universidades[i]._id+'">'+data.universidades[i].name+'</option>'
                }
                    select += '</select>'
                document.getElementById('content_universidad').innerHTML=select;
            }
          });
      });
      
      $("#logout_doctor").on('click', function(e){
        e.preventDefault();
        $.ajax({
          type: "DELETE",
          url:"/login/doctors",
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: logoutDoctorSuccess
        });
      }); // End of logout doctor on click event

      $('#add_titulo').on('click', function(e){
          e.preventDefault();
          var nombre_titulo=$('#titulo').val();
          var fecha_title = $('#fechaObtencion').val();
          var universidad_title = $('#universidad').val();
          var descripcion_title = $('#descripcion').val();
          if(nombre_titulo!="" && fecha_title!="" && universidad_title!=""){
            console.log("se pasaron todos los datos");
            if(confirm("Al actualizar sus datos profesionales, el estado volvera a ser inhabilitado hasta que secretraria verifique sus nuevos datos, para eso, despues de actualizar estos datos debe ir a finalizar registro y dar click e el boton finalizar registro")){
              var titleInformation={
                  "title" : nombre_titulo,
                  "description" :descripcion_title ,
                  "university" : universidad_title,
                  "graduationDate" : fecha_title
              }
              $.ajax({
                  method:'Post',
                  url:"/api/v1/doctors/me/titles_information?errors=verbose",
                  headers: {
                    "accessToken": localStorage.accessToken
                  },
                  data:{
                    titleInformation:titleInformation
                  },
                  success:function(data){
                    console.log(data);
                    getDoctorTitlesInformation();
                  }
              });
            }else{
              alert("Actualizacion cancelada");
            }
          }else{
            console.log("No se pasaron todos los datos")
          }
        });

      function getDoctorTitlesInformation(){
        $.ajax({
          url:"/api/v1/doctors/me/titles_information",
          headers: {
            "accessToken": localStorage.accessToken
          },
          success: function(data){
            console.log(data);
            if(data.doctorTitlesInformation.length){
              //- console.log(data.doctorPersonalInformation);
              var cadena='';
              for(var i=0; i<data.doctorTitlesInformation.length; i++){
                var fecha=new Date(data.doctorTitlesInformation[i].graduationDate);
                var day = ("0" + fecha.getDate()).slice(-2);
                var month = ("0" + (fecha.getMonth() + 1)).slice(-2);
                var graduationDate = (day)+"-"+(month)+"-"+fecha.getFullYear();
                cadena += "<tr><td>"+data.doctorTitlesInformation[i].title+"</td><td>"+data.doctorTitlesInformation[i].description+"</td><td>"+graduationDate+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.name+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.city+"</td><td>"+data.doctorTitlesInformation[i].idUniversity.department+"</td><td><button class='btn btn-info delete-title'  data-infoTitle='"+data.doctorTitlesInformation[i]._id+"'>X</button></td></tr>"
                //- console.log(data.doctorTitlesInformation[i]);
              }
                document.getElementById("table_titles_body").innerHTML=cadena;
           }else if(localStorage.medico!=undefined){
                var obj = JSON.parse(localStorage.medico);
                if(obj.registrado=='si'){
                  $('#alert_registrado').css('display', 'block');
                }else{
                  $('#alert_registrado').css('display', 'none');
                }
            }else{
              console.log("No se ha guardado aun informacion personal de este doctor");
            }
          }
        });
      }

      getDoctorTitlesInformation();

      $("#table_titles_body").on('click', '.delete-title',function(e){
          e.preventDefault();
          if(confirm('Seguro quiere elimimar el titulo')){
            var idTitulo=$(this).attr('data-infoTitle');
            $.ajax({
                type:'delete',
                url:'/api/v1/doctors/me/titles_information/'+idTitulo,
                headers: {
                  "accessToken": localStorage.accessToken
                },
                success:function(data){
                  if(data.error==null){
                    alert('el tituto se elimino con exito');
                    getDoctorTitlesInformation();
                  }else{
                    alert('Error al borrar el titulo');
                  }
                }
              });
          }
        });

      $("#verify_identification_button").on("click", function(e){
        e.preventDefault();
        console.log("click click click");
        console.log($("#identification").val());
        e.preventDefault();
        $.ajax({
          type: "GET",
          url:"/secretary/verify/"+$("#identification").val(),
          headers: {
            "csrfToken": $("#csrf_input").val()
          },
          success: function(data){
              console.log(data);
              var medico=data.data;
              console.log(medico.registrado);
              if(medico.estado=="no registrado"){
                $('.close').trigger('click');
                $('#alert_no_registrado').css('display', 'block');
              }else if(medico.registrado == "si"){
                $('.close').trigger('click');
                $('#alert_registrado').css('display', 'block');
                var titles=medico.infoTitulos.titulos;
                for(var i=0; i<titles.length; i++){
                  var fecha=new Date(titles[i].fechaObtenion);
                  var day = ("0" + fecha.getDate()+1).slice(-2);
                  var month = ("0" + (fecha.getMonth() + 1)).slice(-2);
                  var fechaTitulo = fecha.getFullYear()+"-"+(month)+"-"+(day) ;
                  var titleInformation={
                      "title" : titles[i].titulo,
                      "description" :titles[i].descripcion ,
                      "university" : titles[i]._universidad._id,
                      "graduationDate" : fechaTitulo
                  }
                  $.ajax({
                      method:'Post',
                      url:"/api/v1/doctors/me/titles_information?errors=verbose",
                      headers: {
                        "accessToken": localStorage.accessToken
                      },
                      data:{
                        titleInformation:titleInformation
                      },
                      success:function(data){
                        console.log(data);
                      }
                    });
                }
              window.location.href('/me/titles_information');
            }else{
              alert("hubo un error xp");
            }
          }
        });
      });
    }); // End of document on ready event